/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2024, 11:19:46 AM
    Author     : rkcp8
*/

.rate-stars > img{
    width: 10px;
}
img{
    width: 10px;
}
#myRented-body{
    background: rgba(88,128,128,.2);
}
#orderDetails-container{
    border-radius: 20px;
}